  
    * {
        margin:0;
        padding:0;
        box-sizing:border-box;
  
  
      }

      body {
        font-family: 'Tajawal', sans-serif;
        font-size: 18px;
      } 
  
/*
  Media Queries*/


  @media only screen and (min-width: 700px) and (orientation: landscape) {
             
  
    nav {
      float: right;
      width: 100%;
    }
  
    nav a {
      padding: 15px 1%;
    }
    
    .body {
      font-size:20px;
    }
  
 
  }
  
  @media only screen and (min-width: 1140px) {
  
    body {
      font-family: 'Tajawal', sans-serif;
      font-size: 18px;
    }
  
    .title {
      font-size: 2em;
    }
  
    nav a {
      padding: 25px;
    }
    
  }


/* 
  Nav Bar */

  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #599a68;
  }
  
  nav a:hover,
  nav a:visited {
    color: white;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  

/*Nav Bar Layout!*/

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    border: 1px solid whitesmoke;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Change link hover color for Pizzazz*/
li a:hover {
    background-color: whitesmoke;
    color:black;
} */


/* Grid CSS  */

body {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}