/* GRID LAYOUT */
body {background-color: #333333;}
h1, h2 ,h3, p , ul , ol{
    color:white;
}
.grid {
    display:grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:15px;
}


