@media screen and (max-width:780px)
{
    .container {

    display: inline-flex;
    flex-direction:wrap;
    justify-content: center;
}

.p {
color:black;
font-size:15px;
font-family:'Arial';

}

.background-color {


    color:green;

}

.center-info {

    float:center;
}

.button {

    color: aliceblue;
    padding: 0%;
    font-size:1em ;
    background-color: aliceblue;
}


}